.main {
  height: 100%;
  top: 0%;
}
.background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%; 
  height: 100%;
  padding: 0;
}
.background > img{
  top: 0%;
  width: 100%; 
  height: 100%;
}
.steps{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.step {
  border-top: red solid 5px;
  width: 2%;
  position: relative;
}
.flagged {
  border-top: green solid 5px;
}
#climber{
  width: 3%;
  position: absolute;
  top: 88%;
  z-index: 1;
}
#win{
  margin-top: -100%;
  width: 100%;
  position: absolute;
  display: none;
}
.step-one {
  top: 85%;
  left: 11.5%;
}
.step-two {
  top: 71%;
  left: 15%;
}
.step-three {
  top: 57.5%;
  left: 17.5%;
}

.step-four {
  top: 40%;
  left: 21.5%;
}
.step-five {
  top: 13%;
  left: 40%;
}
.step-six {
  top: 2%;
  left: 43%;
}
.blinds {
  position: absolute;
  z-index: 2;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.startdiv {
  background-color: hotpink;
  font-size: xx-large;
  border-radius: 5px;
  margin-top: 5px;
}
.username > input {
  font-size: large;
  text-align: center;
}
.results {
  position: absolute;
  left: 2%;
  top: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: cornflowerblue;
  border-radius: 15px;
  padding: 0 15px;
  margin-top: 10px;
}
.star {
  margin: 25px 0; 
  height: 0; 
  width: 0;
  position: relative;
  border-right: 25px solid transparent;
  border-bottom: 17px solid #E7337A;
  border-left: 25px solid transparent;
  transform: rotate(35deg);
  }
  .star:before, 
  .star:after {
  content: "";
  height: 0; 
  width: 0;
  position: absolute;
  }
  .star:before {
  top: -13px; 
  left: -16px;
  border-bottom: 20px solid #E7337A;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  transform: rotate(-35deg);
  }
  .star:after {
  top: 2px; 
  left: -27px;
  border-right: 25px solid transparent;
  border-bottom: 17px solid #E7337A;
  border-left: 25px solid transparent;
  transform: rotate(-70deg);
  }
.info {
  position: absolute;
  width: 15%; 
  right: 0;
  top: 0; 
  background-color: cornflowerblue;
  border-radius: 15px;
  padding: 0 15px;
  transform: scale(0.7); 
}
.info h1 {
  text-align: center;
}
#infowasd {
  margin-top: -20%;
  width: 100%;
  margin-bottom: -20%;
}
.congrats {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 148, 237, 0.52);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ff0066;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  font-weight: bold;
  display: none;
  z-index: 2;
}
.visible {
  display: flex!important;
}
